{% extends "layout.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}Home Page{% endblock %}
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        {% block content%}
            <h1>Multi-staged forms</h1>
            <ul>
                <li><a href="{{url_for('login.ResetPassword')}}" class="hlink-clean font-blue">Password Reset</a></li>
                <li><a href="{{url_for('login.SignUp')}}" class="hlink-clean font-blue">Sign Up</a></li>
            </ul>
        {% endblock %}
    </body>
</html>