<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Backend4</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="margin-0">
    <nav>
        <div class="flex-row bg-black margin-0 center-h height-s">
            <h3 class="font-white padding-ls bold">Backend4</h4>
            <ul class="flex-row ls-none center-vh gap-s">
                <li><a href="{{url_for('startapp')}}" class="hlink-clean font-white font-size-s">Home</a></li>
                <li><a href="{{url_for('login.SignUp')}}" class="hlink-clean font-white font-size-s">Mockups</a></li>
                <li><a href="{{url_for('user.ControlsRoute')}}" class="hlink-clean font-white font-size-s">Controls</a></li>
            </ul>
        </div>
    </nav>
    <main class="padding-lrs">
        {% block content %}{% endblock %}
        <hr>
        <span>©2025 - Backend4</span>
    </main>

</body>
</html>