@page "Calc/ManualwithSeparateHandlers"
@model lab12.Pages.Calc.ManualwithSeparateHandlersModel
@{
	@if (!Model.hasResult)
	{
		<h1>Manual</h1>
		<form method="post">
			<input type="number" name="num1" min="0" max="10" required />
			<br>
			<select name="op">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
			</select>
			<br>
			<input type="number" name="num2" min="0" max="10" required />
			<br>
			<button type="submit">Submit</button>
		</form>
	}
}
