*{
    box-sizing: border-box;
}

body {
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0px;
}

input,
button {
    height: 20px;        
    border: 0.5px solid black;
    background: #EDEDED;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0.3px;
    border-spacing: 0;
}

input {
    background: white;
}