{% extends "layout.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}Reset password{% endblock %}
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        {% block content %}
        <h1>Sign up results</h1>
        <div class="flex-col padding-lm">
            <div>{{data.firstname}} {{data.lastname}}</div>
            <div>{{data.birthday}}</div>
            <div>{{data.gender}}</div>
            <div>{{data.email}}</div>
            <div>{{data.password}}</div>
        </div>
        {% endblock %}
    </body>
</html>