body {
    margin: 0;
    font-size: small;
}

ul {
    padding: 0;
    padding-left: 25px;
    margin: 0.5em;

}

li {
    display: list-item;
}

.white-container {
    background-color: bisque;
    width: 25%;
    height: 40%;
}

.blue-container {
    background-color: aqua;
    border: 1px solid limegreen;
    display: flex;
    flex-wrap: wrap;
}

.grey-container {
    background-color: #EAEAEA;
    flex: 1;
    min-width: 300px;
}


@media (max-width: 800px) {
    .white-container {
        width: 100%; 
        margin: 20px 0 20px 0;
        line-height: 0.2em;
    }

    .white-container ul {
        display: flex;
        flex-direction: row; 
        list-style: none;
    }
}


#used-colors {
color : #C8FC98
#EAEAEA
#FFFF80
#FDE95E
red
blue
green
blueviolet
darkred
peru
forestgreen
indianred
indigo
white
aqua
bisque
darkgray
limegreen
aquamarine;
}