@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Mockups</h1>
<ul>
    <li><a asp-page="/Mockups/Quiz" class="">Quiz</a></li>
    <li><a asp-page="/Mockups/QuizResult" class="">QuizResult</a></li>
</ul>
