@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD

    <h1>LAB 13 IS IN MOCKUPS</h1>
=======
<h1>LAB 13 IS IN MOCKUPS</h1>
>>>>>>> 454da6ae7d359541c3eee68f99fcf55a797ad3c1
</div>
