@page
@model lab13.Pages.MockupsModel
@{
	ViewData["Title"] = "Mockups";
}

<h1>Mockups</h1>
<ul class="m-3">
    <li>
        <a class="text-decoration-none" asp-page="Mockups/Quiz">Quiz</a>
    </li>
    <li>
        <a class="text-decoration-none" asp-page="Mockups/QuizResult">QuizResult</a>
    </li>

</ul>