@page
@model code.Models.User
@{
    <h1>Mockups</h1>
    <ul>
        <li><a href="#">All Forums</a></li>
        <li><a href="#">Single Forum</a></li>
        <li><a href="#">Single Topic</a></li>
        <li><a href="#">Files_System</a></li>
    </ul>
}