*{
    margin: 0;
    padding: 0;
    background-color: black;
}

#curtain {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: transform 0.2s ease;
}

#curtain:hover {
    transform: translateY(-5%);
}

#curtain.up {
    transition: transform 1s ease;
    transform: translateY(-100vh);
}

#curtain, #behind {
    position: fixed;
}

#behind {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#light {
    z-index: 6;
    position: absolute;
    top: 14.6%;
    left: 16.7%;
    background-color: yellow;
    opacity: 0.5;
    width: 69%;
    height: 100%;
    pointer-events: none;
    clip-path: polygon(46% 0%, 52.4% 0%, 100% 100%, 0% 100% );
}

.shone {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
}


#below {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 40%;
    padding-top: 10%;
    padding-left: 30%;
}

#lamp {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 43%;
    
}

#vrap {
    position: absolute;
    width: 15%;
}

#hcao {
    position: absolute;
    z-index: 4;
    width: 0.5%;
    height: 7%;
    left: 6.2%;    
    top: 14.6%;
    transition: height 0.1s ease;
}

@keyframes giat {
    0% { height: 7%; }
    40% { height: 9.5%; }
    100% { height: 7%; }
}

#hcao.giatday {
    animation: giat 0.1s ease-out;
}


#witch {
    width: 30%;
    z-index: 5;
}

#hat {
    width: 18%;
    transform: scaleY(-1);
    z-index: 5;
}

#bird {
    position: absolute;
    width: 5%;
    left: 55%;
    z-index: 4;
    transition-duration: 0.4s;
}

#rabbit {
    position: absolute;
    width: 5%;
    left: 55%;
    bottom: 30%;
    z-index: 4;
    transition-duration: 0.4s;  
}

#rabbit.jump {
    animation: run-away 0.4s ease-in-out;
}

@keyframes run-away {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    20% {
        transform: translate(120px, -31.4px);
        opacity: 0.9;
    }
    40% {
        transform: translate(240px, -58px);
        opacity: 0.8;
    }
    50% {
        transform: translate(300px, -62.8px);
        opacity: 0.8;
    }
    60% {
        transform: translate(360px, -58px);
        opacity: 0.6;
    }
    80% {
        transform: translate(480px, -31.4px);
        opacity: 0.4;
    }
    100% {
        transform: translate(600px, 0px);
        opacity: 0.2;
    }
}



