*{
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bg-black {
    background-color: #222222;
}

.bg-blue {
    background-color: #4384BD;
}

.font-white {
    color: #9B9B9B
}

.font-very-white {
    color: white;
}

.font-blue {
    color: #4384BD;
}

.font-size-s {
    font-size: 15px;
}

.ls-none{
    list-style: none;
}

.display-iblock {
    display: inline-block;
}

.display-none {
    display: none;
}

.hlink-clean {
    text-decoration: none;
}

.wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.border-round{
    border-radius: 7%;    
}
.center-h {
    align-items: center;
}
.center-self-h {
    align-self: center;
}

.center-v {
    justify-content: center;
}

.center-vh {
    justify-content: center;
    align-items: center;
}

.margin-0 {margin: 1px;}

.margin-bxxs {
    margin-bottom: 3px;
}

.margin-bxs {
    margin-bottom: 15px;
}

.margin-txxs {
    margin-top: 3px;
}

.margin-txs {
    margin-top: 15px;
}


.padding-0 {
    padding: 0;
}

.padding-lxs {
    padding-left: 10px;
}

.padding-ls {
    padding-left: 9vw;
}

.padding-lm {
    padding-left: 15vw;
}

.padding-lrs{
    padding-left: 9vw;
    padding-right: 9vw;
}

.gap-s{
    gap: 20px;
}

.height-xs {
    height: 35px
}

.height-s {
    height: 55px
}



.height-m {
    width: 300px;
}

.width-s {
    width: 55px;
}

.width-xsp {
    width: 70px;
}

.width-sp {
    width: 100px;
}

.width-xsm {
    width: 150px;
}

.width-sm {
    width: 225px;
}

.width-m {
    width: 300px;
}

.bold {
    font-weight: bold;
}
