@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="">Calc Service Demonstration</h1>
<ul class="m-3">
    <li>
        <a asp-page="CalcService/PassUsingModel">Using Model Calc</a>
    </li>
    <li>
        <a asp-page="CalcService/PassUsingViewData">Using ViewData Calc</a>
    </li>
    <li>
        <a asp-page="CalcService/PassUsingViewBag">Using ViewBag Calc</a>
    </li>
    <li>
        <a asp-page="CalcService/AccessServiceDirectly">Using Service Injection Calc</a>
    </li>

</ul>

