.blue-container {
    background-color: blue;
    color: white;
    width: 500px;
    min-width: 500px;
    min-height: fit-content;
    flex-shrink: 0;
}

p {
    margin: 0;
    font-size: small;
}

body {
    display: flex;
    justify-content: center;
}

